<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Outsurance.MemberManager.Repositories.App" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Outsurance.MemberManager.Repositories.App>
            <setting name="ExportsFolderName" serializeAs="String">
                <value>Exports</value>
            </setting>
            <setting name="ImportsFolderName" serializeAs="String">
                <value>Imports</value>
            </setting>
            <setting name="AddressesFileName" serializeAs="String">
                <value>addresses.txt</value>
            </setting>
            <setting name="NameFrequenciesFileName" serializeAs="String">
                <value>name-frequencies.txt</value>
            </setting>
            <setting name="MembersFileName" serializeAs="String">
                <value>data.csv</value>
            </setting>
            <setting name="FilesBaseFolderPath" serializeAs="String">
                <value>c:\members-manager</value>
            </setting>
        </Outsurance.MemberManager.Repositories.App>
    </applicationSettings>
</configuration>